@import '../_partials.scss';

/*
 * Card component.
 *
 * Styles mostly borrowed from `Modal`
 *
 * See https://github.com/WordPress/gutenberg/issues/15921.
 */
.comcon-admin__card {
	margin-bottom: 2em;
	border: 1px solid #e2e4e7;
	background: #fff;
	box-shadow: 0 2px 8px rgba( 25, 30, 35, .2 );

	@include breakpoint( $breakpoint-two-column ) {
		margin-bottom: 0;
	}
}

.comcon-admin__card-header {
	padding: 1em;
	margin: 0;
	border-bottom: 1px solid #e2e4e7;
}

.comcon-admin__card-content {
	padding: 1em;

	p:first-child {
		margin-top: 0;
	}

	.components-base-control__label {
		display: none; /* This is a duplicate of the Card title. */
		/* todo is there a better way to solve ^ ? see comments in view */
	}

	.notice {
		margin-top: 20px;
		border-top: 1px solid rgba( 0, 0, 0, .05 );
	}
}
