.comcon-front-end.is-loading .components-spinner {
	display: block;
	float: none;
	margin: 0 auto;
}


#comcon-front-end__nudge {
	max-width: 525px;
}

#comcon-front-end__nudge .components-button {
	margin-right: 1em;
}

	#comcon-front-end__nudge a {
		color: #00A0D2;
	}

	#comcon-front-end__nudge .components-button.is-primary {
		background-color: rgba( 50, 133, 64, 0.82 );
		border-color: #0b420b;
		color: white;
		text-shadow: none;
		font-weight: normal;
	}

	#comcon-front-end__nudge .components-button.is-default {
		font-weight: normal;
		text-decoration: none;
		color: #e79500;
	}
